.container pre code {
  line-height: var(--code-line-height) !important;
}

.container pre {
  background: none;
}

.container pre:before {
  display: none;
}

.line-numbers-wrapper:before {
  position: absolute;
  left: 5px;
  top: 5px;
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  background: url(/md.png) 0 0 no-repeat;
  margin-bottom: -7px;
  background-size: 40px;
}